/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        'meta-dark': '#10101C',       // Main dark background
        'meta-purple': '#322F5A',      // Sligthly lighter sections
        'meta-teal': '#66FBF4',        // Bright text accent
        'meta-magenta': '#C12CFF',     // Accent magenta
        'meta-gradient-blue': '#2E175A',
        'meta-gradient-purple': '#1D123C',
      },
      backgroundImage: {
        'meta-zigzag': 'linear-gradient(135deg, rgba(255,255,255,0.01) 25%, transparent 25%), linear-gradient(225deg, rgba(255,255,255,0.01) 25%, transparent 25%), linear-gradient(45deg, rgba(255,255,255,0.01) 25%, transparent 25%), linear-gradient(315deg, rgba(255,255,255,0.01) 25%, transparent 25%)',
      },
      backgroundSize: {
        'zigzag-small': '20px 20px', // Creates the fine grid/zigzag pattern
      },
    },
  },
  plugins: [],
}